:root {
    --primary-color: #c8daff;
    --secondary-color: #2c4674;
    --text-color: #FFFFFF;
    --searchbackground1: #cbe0db;
    --searchbackground2: #E8DBD4;
    --searchprimary: #519E8A;
    --searchsecondary: #d1723f;

}

html {
    width: 414px;
    height: auto;
    margin: 0 auto;
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

/* Reset */
.app {
    font-family: 'Montserrat-Regular';
    color: var(--secondary-color);
    background: var(--searchbackground1);
    margin: 0;
    padding: 0;
    width: 414px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    overflow: hidden;
}

.slider input {
    display: none;
}

.content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0 auto;

}

.dots {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

.dots label {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
}

#slide1:checked ~ .content .dots label:nth-child(1),
#slide2:checked ~ .content .dots label:nth-child(2) {
    background: var(--secondary-color);
}

h1 {
    font-family: 'Montserrat-Regular';
    color: var(--secondary-color);
    font-size: 52px;
    margin-top: 70px;
    margin-bottom: 8px;
}

p {
    font-family: 'Montserrat-Regular', sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
    max-width: 80%;
    margin-bottom: 30px;
}

.images {
    position: relative;
    width: 100%;
    height: 60%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-slide {
    position: absolute;
    bottom: 0;
    /* width: 100vw; */
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide1:checked ~ .content .images .img1 {
    opacity: 1;
}

#slide2:checked ~ .content .images .img2 {
    opacity: 1;
}

.next-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: rgba(9, 9, 121, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn {
    margin-bottom: 4vh;
}

.next-btn img {
    width: 30px;
}

.next-btn img:hover {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

@media (orientation: landscape) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .slider {
        /* width: 100vw; */
        /* height: 100vh; */
        border-radius: 0;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 12px;
    }

    .images {
        height: 55%;
    }
}